html, body {
    height: 100%;
  }
  
  body {
    font: caption;
    margin: 0;
    display: flex;
    flex-flow: column;
  }
  
  button {
    background: dodgerblue;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    outline: none;
  }
  
  input {
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 0 10px;
  }
  
  input::placeholder {
    color: lightgray;
  }
  
  header {
    background: lightgray;
    display: flex;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid silver;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  }
  
  #show-modal {
    padding: 0px 12px 5px;
    margin-right: 10px;
    font-size: 30px;
  }

  #del {
    padding: 0px 12px 5px;
    margin-right: 10px;
    /* font-size: 10px; */
  }
  #mod {
    padding: 0px 12px 5px;
    margin-left:10px;
    margin-right: 10px;
    /* font-size: 10px; */
  }
  #search {
    flex-grow: 1;
  }
  
  main {
    flex-grow: 1;
    overflow-y: scroll;
  }
  
  #no-items {
    font-weight: bold;
    color: silver;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: -1;
  }
  
  #modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    display: none;
    /* color:red; */
  }
  
  #url {
    flex-grow: 1;
    /* width: 100%; */
    margin: 0 25px 15px;
    padding: 10px;
    /* display: inline; */
  }
  
  #e_url {
    /* margin-left: 120px; */
    background-color: floralwhite;
    display: inline;
    margin-left: 35vw;
    padding: 20px;
    border-radius: 10px;
  }

  #note1{
    flex-grow: 1;
    /* width: 100%; */
    margin: 0 25px 15px;
    padding: 10px;
    /* display: inline; */
  }

  #noted1{
    flex-grow: 1;
    /* width: 100%; */
    margin: 0 25px 15px;
    padding: 10px;
    /* display: inline; */
  }

  #modal button {
    padding: 10px;
  }
  
  #close-modal {
    background: rgb(245, 128, 128);
    color: black;
    margin-left: 15px;
  }
  
  #add-item {
    margin-left: 25px;
  }

.read-item{
     /* display: flex; */
     display: flex;
  flex-flow: row wrap;
     align-items: center;
     align-content: center;
     border-bottom: lightgray 2px solid;
     background:#FFFFFF;
     padding: 10px;
     border-left: lightgray 10px solid;
     -webkit-user-select: none
 }

 break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  /* overflow; */
}

.read-item:hover {
  background-color:rgb(226, 239, 243);
}

.read-item.selected {
  border-left:rgb(241, 163, 100) 10px solid;
}

.read-item.selected.deleted {
  display: none;
}

.read-item img{
     width: 20%;
     margin-right: 25px;
 }

 #url1 {
   display: none;
 }

 #id1{
   display: none;
 }

 #note{
    margin-left: 25vw;
    display: inline;
    font-size: 20px;
 }

 #noted {
    margin-left: 20vw;
    display: inline;
    font-size: 20px;
 }
